.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /*Allows .card__delete-button to have absolute position within itself*/
}
.card__image {
  height: 282px;
}
.card__delete-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  width: 18px;
  height: 19.5px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__delete-button:hover {
  opacity: 60%;
  transition: opacity 0.75s linear 0s;
}
.card__description {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 19px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  background-size: contain;
}
.card__like-button:hover {
  opacity: 60%;
  transition: opacity 0.75s linear 0s;
}
.card__like-button_active {
  background: transparent url(../images/active-heart-icon.svg) center no-repeat;
  background-size: contain;
}
